@import '@kris/style';
@use '@kris/style' as kris-style;
$blue: orange;


body {
    background-color: orange;
}

p {

    color: orange;
}

ul {

    color: orange;

    li {
        color: orange;
        background-color: pink;
    }
}