@use '@kris/style' as kris-style;
@use '@test/style' as kris-style;
@use '@test2/style' as kris-style;
@import '@kris/style';
@import '@test/style';
@import '@test2/style';

body {
    color: green;
    z-index: 9000;
}

div {
    p {
        color: green;
    }

    s span {
        color: green;
    }
}

span {
    color: green;
}